# Change this file name to .env or .env.local and fill in the following fields:

# A GitHub token with access to the content repository, used for fetching registry data and constructing edit links.
GITHUB_TOKEN=
