[data-color-scheme="default"] {
  --suite-accent-light: #0a0a0a;
  --suite-accent-dark: #ffffff;
  --suite-primary-light: rgba(10, 10, 10, 0.1);
  --suite-primary-dark: rgba(255, 255, 255, 0.14);
  --suite-secondary-light: rgba(10, 10, 10, 0.16);
  --suite-secondary-dark: rgba(255, 255, 255, 0.2);
  --suite-muted-light: #5d5d5d;
  --suite-muted-dark: #b4b4b4;
  --suite-text-light: #232323;
  --suite-text-dark: #f2f2f2;
  --suite-text-inverted-light: #f2f2f2;
  --suite-text-inverted-dark: #232323;
  --suite-link-light: #0a0a0a;
  --suite-link-dark: #ffffff;
}
