[data-color-scheme="registry"] {
  --suite-accent-light: #9d4edd;
  --suite-accent-dark: #c77dff;
  --suite-primary-light: #9d4edd55;
  --suite-primary-dark: #9d4edd55;
  --suite-secondary-light: #c77dff55;
  --suite-secondary-dark: #c77dff55;
  --suite-muted-light: #9d4edd;
  --suite-muted-dark: #9d4edd;
  --suite-text-light: #232323;
  --suite-text-dark: #f2f2f2;
  --suite-text-inverted-light: #f2f2f2;
  --suite-text-inverted-dark: #232323;
  --suite-link-light: #7c3aed;
  --suite-link-dark: #c77dff;
}
