[data-color-scheme="depot"] {
  --suite-accent-light: #b68918;
  --suite-accent-dark: #cfa22e;
  --suite-primary-light: #b6891855;
  --suite-primary-dark: #cfa22e55;
  --suite-secondary-light: #cfa22e55;
  --suite-secondary-dark: #e0bc6655;
  --suite-muted-light: #b68918;
  --suite-muted-dark: #cfa22e;
  --suite-text-light: #232323;
  --suite-text-dark: #f2f2f2;
  --suite-text-inverted-light: #f2f2f2;
  --suite-text-inverted-dark: #232323;
  --suite-link-light: #8f690c;
  --suite-link-dark: #f0c85b;
}
