[data-color-scheme="website"] {
  --suite-accent-light: #f2992e;
  --suite-accent-dark: #ffbe73;
  --suite-primary-light: #f2992e55;
  --suite-primary-dark: #f2992e55;
  --suite-secondary-light: #ffbe7355;
  --suite-secondary-dark: #ffbe7355;
  --suite-muted-light: #a8641e;
  --suite-muted-dark: #a8641e;
  --suite-text-light: #232323;
  --suite-text-dark: #f2f2f2;
  --suite-text-inverted-light: #f2f2f2;
  --suite-text-inverted-dark: #232323;
  --suite-link-light: #f2992e;
  --suite-link-dark: #ffbe73;
}
